/** @format */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.mainDiv {
    width: 1502px;
    height: 1497px;
    flex-shrink: 0;
    background: linear-gradient(122deg, #0a5783 25.03%, #18a19a 78.64%);
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.heading {
    height: 101px;
    color: #fff;
    font-size: 76px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 84px;
    display: flex;
    justify-content: center;
}

.subHeading {
    width: 614px;
    height: 92px;
    color: #fff;
    text-align: center;
    margin-left: 433px;
    margin-top: 14px;
    font-size: 32px;
    font-style: normal;
    font-weight: 275;
    display: flex;
    justify-content: center;
}

.orangeBtn {
    width: 265px;
    height: 68px;
    border-radius: 32px;
    background: #fb7306;
    box-shadow: 2px 3px 3px 0px #074553;
    margin-top: 31px;
    margin-left: 600px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}

.checkDivLeft {
    display: inline-block;
    width: 450px;
    margin-left: 100px;
    margin-top: 100px;
}

.checkDivRight {
    display: inline-block;
    margin-top: 100px;
    margin-left: -125px;
}

.midDiv {
    display: flex;
}

.checkText {
    position: relative;
    top: -8px;
    color: #fff;
    font-size: 29px;
    margin-left: 5px;
}

.line {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 363px;
    height: 3px;
    background-color: #fff;
    position: relative;
    left: 41px;
}

.vector {
    position: relative;
    z-index: 2;
    top: -198px;
}

.onVector {
    position: relative;
    z-index: 3;
    top: -750px;
    display: inline-block;
    justify-content: center;
}

.heading2 {
    display: flex;
    margin-left: 535px;
    color: #fff;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
}

.processImg {
    position: relative;
    bottom: 121px;
    z-index: 4;
    margin-left: 305px;
}

.processText {
    position: relative;
    bottom: 306px;
    display: flex;
    color: #fff;
    margin-left: 294px;
}

.orangeBtn2 {
    width: 265px;
    height: 68px;
    border-radius: 32px;
    background: hsl(27, 97%, 50%);
    box-shadow: 2px 3px 3px 0px #074553;
    margin-left: 600px;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    position: relative;
    bottom: 252px;
}
